*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


body {
    width: 100vw;
    min-height: 100dvh;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: powderblue;
    color: rgb(0, 8, 121);
}

.header {
}

.tituloIconos {
    margin: auto;
}

.titulo {
    font-size: 3.2rem;
}

.seccion {
    padding: 2rem;
    max-width: 80rem;
    min-width: 50rem;
}


.seccion h2 {
    text-align: center;
    margin-block-end: 4rem;
}

.seccion #boton-mascota {
    margin-block-start: 2.4rem;
}


.cardMascota-Container {

    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardMascota {
    display: flex;
    flex-direction: column-reverse;
    width: 20rem;
    height: 30rem;
    padding: 1.8rem;
    border-radius: 4px ;
    background-color: rgb(0, 8, 121);  
    text-align: center;
}

.mascotaNombre { 
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
}

.mascotaIcono {
    display: block;
    margin-block: 1rem 1rem;
    font-size: 1.8rem;
    background-color: rgb(22, 33, 184);
    width: auto;
    height: auto;
    padding: 1rem;
    border-radius: 0.8rem;  
}

input{
    display: none;
}

#boton-mascota {
    width: 25rem;
    height: 5.2rem;
    border: none;
    border-radius: 0.4rem;
    display: block;
    background-color: rgb(22, 33, 184);;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}