*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    min-width: 32rem;
}


body {
    width: 100vw;
    min-width: 32rem;
    min-height: 100dvh;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: powderblue;
    color: rgb(0, 8, 121);
}

.header {
}

.tituloIconos {
    margin: auto;
}

.titulo {
    font-size: 3.2rem;
}

.seccion {
    padding: 2rem;
    max-width: 70rem;
    min-width: 32rem;
}


.seccion h2 {
    text-align: center;
    margin-block-end: 4rem;
}

.seccion #boton-mascota {
    margin-block-start: 2.4rem;
}


.cardMascota-Container {

    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardMascota {
    display: flex;
    flex-direction: column-reverse;
    width: 20rem;
    height: 34rem;
    padding: 1.8rem;
    border-radius: 4px ;
    background-color: rgb(0, 8, 121);  
    text-align: center;
}

.mascotaNombre { 
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
}

.mascotaIcono {
    display: block;
    margin-block: 1rem 1rem;
    font-size: 1.8rem;
    background-color: rgb(22, 33, 184);
    width: auto;
    height: auto;
    padding: 1rem;
    border-radius: 0.8rem;  
}

input{
    display: none;
}

#boton-mascota {
    width: 25rem;
    height: 5.2rem;
    border: none;
    border-radius: 0.4rem;
    display: block;
    background-color: rgb(22, 33, 184);
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.ataqueMascota-Container {
    width: 60rem;
    min-width: 32rem;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: start;
    color: rgb(22, 33, 184);
    gap: 20px;
}


.ataqueMacotaBoton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ataqueMascota-Container p button {;
    width: 24%;
    height: 20rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    border-radius: 4px ;
    background-color: rgb(0, 8, 121);  
    text-align: center;
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
}

.vidaContainer {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    font-weight: 600;
}

.vidaContainer #ataques-del-jugador, .vidaContainer #ataques-del-enemigo {
    font-size: 1.4rem;
    color: rgb(45, 51, 128);  
}



div#mensajes {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    border-radius: 4px ;
    color: white;
    background-color: rgb(0, 8, 121);  
}

#boton-reiniciar {

    width: 18rem;
    padding: 1.8rem;
    border-radius: 4px ;
    background-color: rgb(255, 255, 255);  
    text-align: center;
    color: rgb(0, 8, 121);
    font-size: 2.4rem;
    font-weight: bold;

}

.ataqueMacotaBoton {
    width: 100%;
    gap: 2rem;

}


.seccionAtaque {
    width: 100%;
    max-width: 60rem;
    min-width: 32rem;
}


.ataqueMascota-Container {
    width: 100%;
    max-width: 60rem;
    min-width: 32rem;
}